@Oswald = "Oswald", Arial, sans-serif;

.features{

  &__title{
    font-family: @Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: #111111;
  }

  &__list{
    list-style: none;
  }

  &__description{
    font-family: @Oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: left;
    color: #444444;
  }

}
