.sort {
  &__list {
    list-style: none;
  }

  &__item {
    background-color: @grey-back;
    width: 280px;
    height: 266px;
  }

  &__title {
    font-family: @oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.54;
    text-align: left;
    color: @black-one;
    text-transform: uppercase;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: left;
    color: @greyish-brown;
  }

  &__go-to {
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: @black-one;
    text-decoration: none;
    text-transform: uppercase;
  }
}
