.product {

  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid @border;

  &__title {
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    color: @black-one;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 10px;
    width: 75px;
  }

  &__title--show {
    position: relative;
    width: 205px;
    margin-top: 83px;
    margin-left: 39px;
    margin-bottom: 8px;
  }

  &__title--show::before {
    position: absolute;
    content: "";
    width: 31px;
    height: 31px;
    top: -55px;
    left: 87px;
    background-image: url("../img/plus-mobile-svg.svg");
    opacity: 0.2;
  }

  &__order {
    display: block;
    color: #ffffff;
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    order: 3;
    margin-bottom: 17px;
    align-self: flex-start;
  }

  &__order--show {
    background-color: @grey-back;
    color: @greyish-brown;
    margin-bottom: 22px;
    align-self: flex-start;
  }

  &__field,
  &__value {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: @greyish-brown;
  }

  &__image {
    object-fit: none;
    order: 1;
  }

  &__text {
    min-height: 102px;
    order: 2;
  }

  &__description {
    width: 140px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__phrase {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    color: @greyish-brown;
    margin-top: 0;
    margin-left: 30px;
    margin-bottom: 20px;
    width: 222px;
  }
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: @grey-back;
    width: 324px;
    margin-top: 125px;
    margin-bottom: 14px;
    padding-left: 36px;
    padding-right: 37px;

    &__title {
      font-size: 20px;
      line-height: 1;
      width: 130px;
      display: block;
      text-align: center;
      margin-top: 33px;
      margin-left: 62px;
      margin-bottom: 24px;
    }

    &__title--show {
      margin-top: 166px;
      margin-left: 60px;
      margin-bottom: 24px;
      width: 135px;
    }

    &__title--show::before {
      top: -110px;
      left: 36px;
      width: 61px;
      height: 61px;
      background-image: url("../img/plus-svg.svg");
      opacity: 0.2;
    }

    &__phrase {
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      width: 170px;
      margin-left: 42px;
      margin-bottom: 80px;
    }

    &__field {
      font-size: 16px;
      line-height: 1;
      text-align: left;
    }

    &__value {
      font-size: 16px;
      line-height: 1;
      text-align: right;
    }

    &__description {
      margin-bottom: 22px;
      width: 100%;
    }

    &__image--small {
      margin-top: -48px;
      margin-left: -35px;
      margin-right: -40px;
    }

    &__image--big {
      margin-top: -82px;
      margin-left: -35px;
      margin-right: -40px;
    }

    &__order {
      width: 100%;
      margin-bottom: 38px;
    }

    &__row {
      border-bottom: 1px solid @pinkish-grey;
      margin-bottom: 13px;
    }
  }
  .product--show {
    background-color: @white;
    border: 1px solid @border;
  }
}

@media (min-width: @desktop-width) {
  .product {
    width: 245px;
    min-height: 431px;
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 20px;
    margin-right: 80px;

    &__title {
      margin-left: 20px;
    }

    &__title--show {
      margin-top: 160px;
      margin-left: 15px;
      margin-bottom: 23px;
    }

    &__phrase {
      margin-left: 0;
    }

    &__row {
      border-bottom: 1px solid @pinkish-grey;
    }
  }

  .product:nth-child(4n) {
    margin-right: 0;
  }
}
