.surplus {
  &--form {
    border: none;
  }
  &__caption {
    font-family: @oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: @black-one;
    margin-top: 23px;
    margin-bottom: 40px;
  }

  &__list {
    list-style: none;
    .list-reset();
    margin-bottom: 36px;
  }

  &__item {
    margin-bottom: 22px;
  }

  &__label {
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.13;
    text-align: left;
    color: @black-two;
    position: relative;
    padding-left: 46px;
    text-transform: uppercase;
  }

  &__checkbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: solid 1px @pinkish-grey;
    background-color: @white;
  }

  &__checkbox::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 17px;
    top: 4px;
    left: 3px;
    background-image: url("../img/tick-svg.png");
    background-repeat: no-repeat;
    background-size: 22px 17px;
    display: none;
  }
}

input[type="checkbox"]:checked + .surplus__checkbox::before {
  display: block;
}

@media(min-width: @tablet-width) {
  .surplus {
    flex-direction: column;
    padding: 0;
    &__caption {
      font-size: 36px;
      line-height: 1;
      margin-bottom: 66px;
      margin-left: 39px;
    }

    &__label {
      font-size: 20px;
      line-height: 1;
    }

    &__checkbox {
      width: 40px;
      height: 40px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 316px;
    }

    &__item:nth-child(2n+1) {
      margin-right: 60px;
    }
  }
}
