.copyright {
  display: flex;
  padding-top: 28px;

  &__link {
    margin-left: 3px;
    margin-right: 142px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: @greyish-brown;
    text-decoration: none;
  }

  &__logo {
    margin-top: -5px;
  }
}
