.features {
  &__title {
    font-family: @oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: @black-one;
  }

  &__list {
    list-style: none;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: left;
    color: @greyish-brown;
  }
}
