.dealer {
  margin-bottom: 28px;
  &__wrapper {
    width: 320px;
    margin: 0 auto;
    display: flex;
  }

  &__title {
    padding: 0;
    margin: 0;
    margin-left: 19px;
    margin-right: 11px;
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: left;
    color: @black-one;
    text-transform: uppercase;
  }

  &__address {
    padding: 0;
    margin: 0;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    text-align: left;
    color: @greyish-brown;
  }
}
