.form {
  &__wrapper {
    width: 320px;
    margin: 0 auto;
  }
  &__title {
    font-family: @oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: @black-one;
    margin-top: 16px;
    margin-left: 20px;
    margin-bottom: 25px;
  }

  &__text {
    font-family: @oswald;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: left;
    color: @black-one;
    text-transform: uppercase;
    width: 226px;
    margin-left: 20px;
    margin-bottom: 33px;
  }

  &__button {
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    color: @white;
    text-transform: uppercase;
  }

  &__required-field {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.14;
    text-align: center;
    color: @greyish-brown;
  }
}
