*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: @white;
  outline: 1px solid @black-one;
  margin: 0;
}

a {
  text-decoration: none;
}

.button {
  width: 280px;
  background-color: @leaf;
  padding-top: 14px;
  padding-bottom: 11px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: @grass;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: @greyish-brown;
  font-family: @oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.13;
  text-align: left;
  text-transform: uppercase;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

@media (min-width: @tablet-width) {
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 1;
  }
}
