*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: @white;
  margin: 0 auto;
  //overflow-x:hidden;
}

a {
  text-decoration: none;
}

.button {
  width: 280px;
  background-color: @leaf;
  padding-top: 14px;
  padding-bottom: 11px;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: @grass;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
