body {
  background: url("../img/cat-energy-index-mobile-bg.jpg") no-repeat 50% 0;
  background-size: 320 auto;
  outline: 1px solid red;
  opacity: 1;
}


@media (min-width: @tablet-width) {
  body {
    background: url("../img/cat-energy-index-tablet.jpg") no-repeat 50% 0;
    background-size: 768 auto;
    outline: 1px solid red;
    opacity: 0.5;
  }
  .page-header {


    &__wrapper {
      width: 708px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 21px;
    }

    &__logo-block {
      padding: 0;
    }

    &__toggle {
      display: none;
    }

    &__logo {
      background-image: url("../img/logo-tablet.svg");
      background-repeat: no-repeat;
      background-size: 174px 59px;
    }
  }
  .main-nav{

    &__list {
    display: flex;
    flex-direction: row;
    min-width: 450px;
    padding-left: 10px;
  }
}

  .list__item {
    margin-right: 34px;
    border: none;
  }

  .list__item:last-child {
    margin-right: 0;
  }

  .list__link {
    font-size: 18px;
    line-height: 25px;
  }

  /*Адаптивный program*/
  .program {
    background-image: none;
    margin-bottom: 0;
    &__wrapper {
      width: 708px;
      margin: 0 auto;
      align-items: stretch;
    }

    &__title {
      width: 530px;
      font-size: 60px;
      line-height: 1;
      color: @black-one;
      margin-left: 88px;
      margin-top: 55px;
      margin-bottom: 40px;
      text-align: left;
    }

    &__slogan {
      font-family: @oswald;
      font-size: 20px;
      line-height: 1;
      text-align: left;
      color: @black-one;
      margin-left: 90px;
      position: relative;
      }

      &__picture {
        width: 709px;
        height: 609px;
        background-image: url("../img/index-can-tablet@1x.jpg");
        background-repeat: no-repeat;
        background-size: 709px 609px;
        background-position: 0 225px;
        order: 2;
        z-index: 1;
        position: absolute;
      }

      &__pick-up {
        width: 245px;
        min-height: 52px;
        font-family: @oswald;
        font-size: 20px;
        line-height: 1;
        color: @white;
        margin-left: 87px;
        margin-top: 50px;
        margin-bottom: 540px;
        padding-bottom: 20px;
        order: 1;
        z-index: 2;
      }
   }

   /*Адаптивный sort*/
   .sort {
     margin-bottom: 45px;
     &__wrapper {
       width: 708px;
       margin: 0 auto;
     }

     &__item {
       min-width: 708px;
       min-height: 372px;
       margin-bottom: 39px;
       margin-top: -10px;
     }

     &__title {
       font-size: 36px;
       line-height: 1.03;
       margin-left: 55px;
       margin-top: 73px;
       margin-bottom: 26px;
     }

     &__description {
       font-size: 16px;
       line-height: 1.5;
       margin-left: 51px;
       margin-bottom: 37px;
     }

     &__go-to {
      font-size: 20px;
      line-height: 1;
      margin-left: 53px;
      border: none;
     }
   }

   .sort__description--slim {
     width: 375px;
   }

   .sort__description--pro {
     width: 340px;
   }

   .sort__item--slim {
     background-image: url("../img/cat-slim-tablet.png");
     background-repeat: no-repeat;
     background-position: 446px 80px;
   }

   .sort__item--pro {
     background-image: url("../img/cat-pro-tablet.png");
     background-repeat: no-repeat;
     background-position: 410px 90px;
   }

   /*Адаптивный features*/
   .features {
     &__wrapper {
       width: 708px;
       margin: 0 auto;
       border-bottom: 1px solid @border;
     }

     &__title {
       font-size: 60px;
       line-height: 1;
       margin-left: 0;
       margin-bottom: 55px;
     }

     &__list {
       display: flex;
       flex-wrap: wrap;
     }

     &__item {
       min-height: 230px;
       position: relative;
       display: flex;
       flex-direction: column;
       padding-left: 0;
       margin-bottom: 85px;
     }

     &__item:nth-child(2n+1) {
       margin-right: 140px;
     }

     &__item:nth-child(3),
      &__item:nth-child(4) {
       margin-bottom: 56px;
     }

     &__description {
       font-size: 16px;
       line-height: 1.5;
       width: 244px;
       margin-top: 112px;
       z-index: 2;
     }
   }

   .features__item::before {
       content: "";
       position: absolute;
       width: 80px;
       height: 80px;
       top: -3px;
       left: 0px;
     }

   .features__item:nth-child(1)::after {
      content: "1";
      position: absolute;
      width: 71px;
      height: 228px;
      font-family: @oswald;
      font-size: 281px;
      font-weight: 400;
      line-height: 1;
      color: @grey-back;
      top: -38px;
      right: 55px;
      z-index: 1;
      }

    .features__item:nth-child(2)::after {
        content: "2";
        position: absolute;
        width: 71px;
        height: 228px;
        font-family: @oswald;
        font-size: 281px;
        font-weight: 400;
        line-height: 1;
        color: @grey-back;
        top: -38px;
        right: 58px;
        z-index: 1;
        }

      .features__item:nth-child(3)::after {
          content: "3";
          position: absolute;
          width: 71px;
          height: 228px;
          font-family: @oswald;
          font-size: 281px;
          font-weight: 400;
          line-height: 1;
          color: @grey-back;
          top: -38px;
          right: 58px;
          z-index: 1;
          }

      .features__item:nth-child(4)::after {
            content: "4";
            position: absolute;
            width: 71px;
            height: 228px;
            font-family: @oswald;
            font-size: 281px;
            font-weight: 400;
            line-height: 1;
            color: @grey-back;
            top: -38px;
            right: 58px;
            z-index: 1;
            }


            .feature__item--healthy {
              background-image: url("../img/advantage-1-tablet.png");
              background-repeat: no-repeat;
              background-position: 0 0;
            }

            .feature__item--form {
              background-image: url("../img/andvantage-2-tablet.png");
              background-repeat: no-repeat;
              background-position: 0 0;
            }

            .feature__item--change {
              background-image: url("../img/advantage-3-tablet.png");
              background-repeat: no-repeat;
              background-position: 0 0;
            }

            .feature__item--result {
              background-image: url("../img/advantage-4-tablet.png");
              background-repeat: no-repeat;
              background-position: 0 0;
            }

      /*Адаптивный example*/

      .example {
        margin-bottom: 0;
        background-color: @white;
        &__wrapper {
          width: 708px;
          margin: 0 auto;
        }

        &__title {
          font-size: 60px;
          padding: 0;
          margin: 0;
          margin-top: -15px;
          margin-bottom: 45px;
        }

        &__text {
          margin-bottom: 50px;
          width: 100%;
          font-size: 16px;
          line-height: 1.5;
          margin-left: 0;
        }
      }

      /*Адаптивный result*/
      .result {
        display: flex;
        &__value {
          font-size: 30px;
          line-height: 1.23;
          margin-bottom: 10px;
        }

        &__title {
          width: 130px;
          font-size: 14px;
          line-height: 1;
          background-color: @white;
        }

        &__item {
          width: 162px;
          background-image: url("../img/back-border-tablet.png");
          background-repeat: no-repeat;
        }

        &__block {
          margin-left: 0;
        }

        &__item {
          margin-right: 42px;
        }

        &__price {
          margin-top: 12px;
          margin-left: 167px;
          font-size: 20px;
          line-height: 1.25;
          text-align: right;
          margin-bottom: 0;
        }
      }

      /*Адаптивный slider*/
      .slider {
        background-color: @grey-back;
        margin-top: 255px;
        &__wrapper {
          width: 708px;
          margin: 0 auto;
          position: relative;
        }

        &__item--before-tablet{
          position: absolute;
          top: -170px;
          left: 20px;
          display: block;
        }

        &__item--before {
          display: none;
        }

        &__list {
          margin-bottom: 385px;
        }
      }

      .controls {
        display: flex;
        justify-content: space-between;
        margin-top: -40px;
        margin-bottom: 70px;
        width: 569px;
        &__before,
        &__after {
        font-size: 20px;
        line-height: 1;
        border-bottom: 1px dotted @border;
      }
}

  /*Адаптивный dealer*/
    .dealer {
      margin-top: 69px;
      margin-bottom: 59px;
      &__wrapper {
        width: 708px;
        margin: 0 auto;
      }

      &__title {
        margin-left: 40px;
        margin-right: 320px;
        font-size: 20px;
        line-height: 1.25;
        text-align: left;
      }

      &__address {
        margin-right: 40px;
        font-size: 16px;
        line-height: 1.25;
        text-align: right;
      }
    }

    /*Адаптивный address*/
    .address {
      &__wrapper {
        width: 708px;
        margin: 0 auto;
      }

      &__map {
        width: 100%;
        height: 395px;
      }
    }


    /*Адаптивный footer*/
    .page-footer {
      padding-top: 60px;
      &__wrapper {
        padding: 0;
        width: 708px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
      }
    }

    /*Блок social*/
      .social {
        padding: 0;
        margin-left: 155px;
        margin-right: 135px;
        &__list {
          width: 126px;
        }

        &__item {
          display: inline-block;
          vertical-align: middle;
        }

        &__icon--vk {
          width: 30px;
          height: 16px;
        }
        &__icon--insta {
          width: 23px;
          height: 23px;
        }

        &__icon--fb {
          width: 14px;
          height: 28px;
        }
      }

      /*блок copyright*/
      .copyright {

        padding-top: 0;
        &__link {
          margin-right: 20px;
          padding-top: 5px;
          display: inline-block;
        }
      }
}

/*Адаптивный desktop*/

@media (min-width: @desktop-width) {
  body {
    background: url("../img/cat-energy-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1440 auto;
    opacity: 0.5;
  }

  /*Адаптивный page-header-desktop*/
  .page-header {
    &__wrapper {
      width: 1220px;
      margin-left: 110px;
      padding-top: 53px;
    }

    &__logo {
      background-image: url("../img/logo-desktop-svg.svg");
      background-repeat: no-repeat;
      background-size: 203px 60px;
      width: 203px;
    }
  }

  .list {
    min-width: 490px;
    &__link {
      font-family: @oswald;
      font-size: 20px;
      line-height: 1.25;
      text-align: left;
      color: @white;
    }
}
    /*Адаптивный program-desktop*/
  .program {
    outline: 1px solid transparent;
    &__wrapper {
      display: block;
      width: 1220px;
      margin: 0 auto;
      position: relative;
    }

    &__picture {
      display: inline-block;
      margin-top: 0;
      width: 522px;
      height: 750px;
      background-image: url("../img/index-can-desktop.png");
      background-size: 552px 499px;
      background-repeat: no-repeat;
      position: absolute;
      top:-200px;
      right: 250px;
    }

    &__title {
      margin-left: 80px;
      margin-top: 105px;
    }

    &__pick-up {
      margin-top: 50px;
      margin-left: 80px;
      padding-top: 15px;
      margin-bottom: 260px;
    }

    &__slogan {
      margin-top: 0px;
      margin-left: 80px;
    }
  }

  .program::before {
    content: "";
    width: 720px;
    height: 696px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    z-index: -9999;
  }

  /*Адаптивный sort -desktop*/
  .sort {
    &__wrapper {
      width: 1220px;
      margin:0 auto;
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__item {
      min-width: 570px;
      min-height: 372px;
    }

    &__title {
      margin-top: 90px;
      margin-left: 215px;
      margin-bottom: 75px;
    }

    &__item--slim {
      background-image: url("../img/cat-slim-desktop.png");
      background-size: 100px 100px;
      background-repeat: no-repeat;
      background-position: 52px 55px;
    }

    &__item--pro {
      background-image: url("../img/cat-pro-desktop.png");
      background-size: 135px 100px;
      background-repeat: no-repeat;
      background-position: 52px 55px;
    }

    &__description{
      min-width: 462px;
      margin-bottom: 30px;
    }

    &__go-to {
      padding: 0;
    }
  }

}
