body {
  background: url("../img/cat-energy-form-mobile1.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  outline: 1px solid green;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  body {
    background: url("../img/cat-energy-form-tablet1.jpg") no-repeat 50% 0;
    background-size: 768px auto;
    outline: 1px solid green;
  }
}

@media (min-width: @desktop-width) {
  body {
    background: url("../img/cat-energy-catalog-desktop.jpg") no-repeat 0 0;
    background-size: 1440px 2533px;
  }
}
