body {
  background: url("../img/cat-energy-catalog-mobile1.jpg") no-repeat 50% 0;
  background-size: 320 auto;
  outline: 1px solid red;
  opacity: 0.5;
}

@media (min-width: @tablet-width) {
  body {
    background: url("../img/cat-energy-catalog-tablet1.jpg") no-repeat 50% 0;
    background-size: 768 auto;
    outline: 1px solid red;
  }
}

@media (min-width: @desktop-width) {
  body {
    background: url("../img/cat-energy-catalog-desktop1.jpg") no-repeat 50% 0;
    background-size: 1440 auto;
  }
}
