.page-header {
  &__logo-block {
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
    padding-left: 20px;
    min-height: 65px;
  }

  &__logo {
    display: block;
    width: 191px;
    order: 1;
    background-image: url("../img/logo-mobile-header.png");
    background-repeat: no-repeat;
  }

  &__toggle {
    width: 25px;
    height: 19px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-image: url("../img/mobile-menu-svg.svg");
    background-repeat: no-repeat;
    background-position: center;
    order: 2;
  }

  &__main-nav {
    order: 3;
  }

  &__wrapper {
    width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    &__wrapper {
      width: 708px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      padding-top: 21px;
    }

    &__logo-block {
      padding: 0;
    }

    &__toggle {
      display: none;
    }

    &__logo {
      background-image: url("../img/logo-tablet.svg");
      background-repeat: no-repeat;
      background-size: 174px 59px;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    &__wrapper {
      width: 1220px;
      margin: 0 auto;
      padding-top: 53px;
    }

    &__logo {
      background-image: url("../img/logo-desktop-svg.svg");
      background-repeat: no-repeat;
      background-size: 203px 60px;
      width: 203px;
    }
  }
}
