.additional {
  &__title {
    font-family: @oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: @black-one;
  }

  &__list {
    list-style: none;
  }
}
