.products {
<<<<<<< HEAD
  &__wrapper {
    width: 320px;
    margin: 0 auto;
  }
=======
>>>>>>> b2215bbb621ef2b87a179ded510f4368e37e4a6f
  &__title {
    font-family: @oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: @black-one;
<<<<<<< HEAD
    margin-top: 20px;
    margin-left: 22px;
=======
>>>>>>> b2215bbb621ef2b87a179ded510f4368e37e4a6f
  }

  &__list {
    list-style: none;
<<<<<<< HEAD
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: @tablet-width) {
  .products {
    &__wrapper {
      width: 708px;
      margin: 0 auto;
    }

    &__title {
      font-size: 60px;
      line-height: 1;
      margin-top: 55px;
      margin-left: 0;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
    }
=======
>>>>>>> b2215bbb621ef2b87a179ded510f4368e37e4a6f
  }
}
