.contacts {
  padding: 0;
  border: none;

  &__title {
    position: relative;
    font-family: @oswald;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-align: left;
    color: @black-one;
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 33px;
  }

  &__title::after {
    content: "";
    position: absolute;
    top: 43px;
    left: 219px;
    width: 99px;
    height: 3px;
    background-color: @leaf;
  }

  &__list {
    list-style: none;
    .list-reset();
    margin-left: 15px;
  }

  &__label {
    font-family: @oswald;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.13;
    text-align: left;
    color: @black-two;
    text-transform: uppercase;
    margin-right: 7px;
    position: relative;
  }

  &__input {
    .input-style();
    min-height: 45px;
    opacity: 0.5;
    border: solid 1px @pinkish-grey;
    margin-bottom: 14px;
    padding-left: 15px;
  }

  &__input--email {
    width: 219px;
  }

  &__label--email::after {
    content: "";
    position: absolute;
    top: 4px;
    right: -217px;
    width: 18px;
    height: 14px;
    background-image: url("../img/mail-svg.svg");
    background-repeat: no-repeat;
    background-size: 18px 14px;
  }

  &__label--phone::after {
    content: "";
    position: absolute;
    top: 0;
    right: -204px;
    width: 21px;
    height: 21px;
    background-image: url("../img/phone-svg.svg");
    background-repeat: no-repeat;
    background-size: 21px 21px;
  }

  &__input--phone {
    width: 204px;
  }
}
